/* Quinidy fonts */
@font-face {
    font-family: "QuinidyNormal";
    src: url(Nunito-Regular.ttf);
	font-style: normal;
	font-weight: normal;
}
@font-face {
    font-family: "QuinidyBold";
    src: url(Nunito-Bold.ttf);
    font-weight: bold;
	font-style: normal;
}
@font-face {
	font-family: "QuinidyExtraBold";
	src: url(Nunito-ExtraBold.ttf);
	font-weight: extra-bold;
}
body,h5{
	font-family: "QuinidyNormal";
	font-family: "QuinidyNormal";
	font-style: normal;
	font-weight: normal;
}
h1,h3{
	font-family: "QuinidyBold";
	font-style: normal;
	font-weight: bold;
}

@media screen and (max-width: 500px) {
	h1,h3 {
		text-align: center;
		font-family: "QuinidyBold";
		font-style: normal;
		font-weight: bold;
		max-width: 90%;
		margin-left: 5%;
		margin-right: 5%;
	}
}

.index-title{
	font-family: "QuinidyExtraBold";
	font-style: normal;
	font-weight: extra-bold;
	font-size:90px;
}
@media screen and (max-width: 500px) {
	.index-title {
		font-family: "QuinidyExtraBold";
		font-style: normal;
		font-weight: extra-bold;
		font-size: 70px;
	}
}

.question{
	font-family: "QuinidyBold";
	font-style: normal;
	font-weight: bold;
}
#button{
	font-family: "QuinidyExtraBold";
	font-style: normal;
	font-weight: bold;
}
#title{
	font-family:"QuinidyBold";
	font-style: normal;
	font-weight: bold;
}